@mixin fondo_tabla(){
        background-color: $color-fondo;
        border: $borde;
        margin: 1rem;
        padding: 1rem;
        border-radius: 15px;
        .tabla{
            border: $borde;
        }
}

@mixin tam_anch($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin fondo_frase(){
    border: $borde;
    background-color: white;
    padding: 0.4rem 0.2rem;
    margin: 0.2rem 0.3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 40rem;
    text-align: center;
}

@mixin fondo_fondo($anchura){
    transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    background-color: $color-fondo;
    margin: 1rem 2rem;
    border:  $borde;
    padding: 0.2rem 0.2rem;
    border-radius: 10px;
    width: $anchura;
}